body {
  font-family: sans-serif;
  background-color: #fff;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#controls {
  display: flex;
  flex-flow: wrap;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.canvases {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.parameters {
  display: flex;
  flex-direction: column;
  min-width: max(100px, 10vw);
}

label {
  margin-bottom: 5px;
  font-size: 0.9em;
  color: #555;
}

input, select {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

input {
  min-width: calc(100% - 24px);
}

select {
  min-width: 100%;
}

canvas {
  border: 1px solid #ccc;
  background-color: #fafafa;
  image-rendering: pixelated;
}

fieldset {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

legend {
  font-weight: bold;
  color: #333;
  padding: 0 5px;
}

hr {
  width: 100%;
}
